.projectBadge {
    margin-right: 0.5rem;
}
a {
    text-decoration: none;
}

a:hover {
    opacity: 50%;
}
.coverWrapper {
    background-color: transparent;
    text-align: center;
    
}
.cover {
    border: 2px;
}

.description {
    white-space: pre-wrap;
    text-align: justify;
}
