@keyframes animStar {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(-2000px);
  }
}


#stars {  
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 50s linear infinite;
}

#stars:after {
  animation: animStar 50s linear infinite;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
};


